<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS08mlw81EDFxsQ0ZPXPk33R-zCJUFwEI</string>
	<key>GCM_SENDER_ID</key>
	<string>847704492747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kpuAppSerkom</string>
	<key>PROJECT_ID</key>
	<string>kpuapp-9dba6</string>
	<key>STORAGE_BUCKET</key>
	<string>kpuapp-9dba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847704492747:ios:d0aa5cc90637da0302e94e</string>
</dict>
</plist>